.active {

    color:white;

}
.activeLink {
    clip-path: circle(50% at 50% 50%);
    background-color:#ffa460; 
}
.page {
    margin:0 .2rem;
    list-style:none;
    
}
.linkPage {
    padding:.2rem .6rem;
    cursor:pointer;
    color:#262626;
    font-weight: bold;
    font-size:1.2rem;
}
.nextPage,
.previousPage {
    margin:0 .2rem;
    list-style:none;
    background-color: transparent;
    padding:.2rem .6rem;
    color:#262626;
    cursor:pointer;
    font-size:1.2rem;

}
.pageContainer {
    display:flex;
    align-items:center;
    justify-content:center;
}